:root {   
}

body {
    background: url(assets/bg.jpg) no-repeat;
    background-size: cover;
}

.pivo {
    position: absolute;
    width: 20%;
    left: 40%;
    top: 30%;
    cursor: pointer;
}

.pivo:active > .pivo-image {
    scale: 1.07;
}

.pivo-image {
    width: 100%;
    transition: scale 100ms;
}

.counter {
    text-align: center;
    position: absolute;
    width: 100%;
    top: 15%;
    color: #fff;
    font-size: 50px;
}

.shop-wrapper {
    display: flex;
    width: 100%;
    height: 100vh;
    justify-content: center;
    align-items: center;
}

.shop {
    z-index: 2;
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    gap: 20px;
    width: 60%;
}

.shop-item {
    width: 90%;
    text-align: center;
}

.shop-toggle {
    position: absolute;
    width: 5%;
    left: 50px;
    top: 50px;
    cursor: pointer;
    transition: all 500ms;
    border-radius: 50%;
}

.shop-toggle:hover {
    box-shadow: rgba(162, 225, 255, 0.575) 0px 0px 60px;
    scale: 1.05;
}

.shop-toggle:active {
    scale: 1.1;
}

.shop-balance {
    font-size: 2.5vh;
    font-weight: 400;
    text-align: center;
    grid-column: 1 / -1;
    background-color: #fff;
    width: 20%;
    margin: 0 auto;
    border-radius: 50px;
    padding: 5px 0;
    height: 50px;
}

.disabled {
    pointer-events: none;
}